@{
    Layout = null; // _Layout.cshtml kullanılmıyor
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Özel Tasarım</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <div class="container-fluid">
            <a class="d-flex align-items-center fw-normal p-0" href="#">
                <img src="https://i.pinimg.com/736x/db/fe/58/dbfe584e0237e094fd6ea790e6e687d1.jpg" alt="Logo" width="40" height="40" class="d-inline-block align-text-top"><span class="nav-link ms-2">RentFilm</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Contact</a>
                    </li>

                </ul>
                <form class="d-flex justify-content-end align-items-center">
                    <input class="form-control me-2" type="email" placeholder="email" aria-label="height:30px; width:150px;"/>
                    <input class="form-control me-2" type="password" placeholder="password" aria-label="height:30px; width:150px;"/>
                    <button class="btn btn-outline-success col-2" type="submit">Sign in</button>
                </form>

            </div>
        </div>
        
        <a href ="About"></a>

    </nav>
    <!-- Bootstrap Test Mesajı -->
    <div class="container py-3">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">Pricing</h1>
                <p class="fs-5 text-muted">Please choose your membership plan</p>
            </div>
        </header>
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Basic</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-10 films rent</li>
                                <li>-Free shipping</li>
                            </ul>

                        </div>

                    </div>
                    <div class="">
                        <a type="button" class="btn btn-lg btn-outline-danger col-md-4 mx-auto" asp-controller="Home" asp-action="Register" asp-route-membershipType="Basic">Sign Up</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Gold</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$20<small class="text-muted fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-20 films rent</li>
                                <li>-Free shipping</li>
                            </ul>

                        </div>
                    </div>
                    <div>
                        <a type="button" class="btn btn-lg btn-outline-warning col-md-4 mx-auto" asp-controller="Home" asp-action="Register" asp-route-membershipType="Gold">Sign Up</a>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">Premium</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">$30<small class="text-muted fw-light">/mo</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>-30 films rent</li>
                                <li>-Free shipping</li>
                            </ul>

                        </div>
                    </div>
                    <div>
                        <a type="button" class="btn btn-lg btn-outline-secondary col-md-4 mx-auto" asp-controller="Home" asp-action="Register" asp-route-membershipType ="Premium">Sign Up</a>
                    </div>
                </div>
            </div>
            
            
            
        </main>
    </div>
    <div class="container">
        <footer class="row row-cols-5 py-5 my-5 border-top">
            <div class="col">
                <a href="https://i.pinimg.com/736x/db/fe/58/dbfe584e0237e094fd6ea790e6e687d1.jpg" class="d-flex align-items-center mb-3 link-dark text-decoration-line-none">
                    <p class="text-muted">@DateTime.Now.Year</p>
                </a>
            </div>
            <div class="col"></div>
            <div class="col">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li href="#" class="nav-item mb-2">Home</li>
                    <li href="#" class="nav-item mb-2">Contact Us</li>
                </ul>
            </div>
            <div class="col">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li href="#" class="nav-item mb-2">About Us</li>
                    <li href="#" class="nav-item mb-2">Stores</li>
                </ul>
            </div>
            <div class="col">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li href="#" class="nav-item mb-2">Requests</li>
                    <li href="#" class="nav-item mb-2">Best Seller</li>
                </ul>
            </div>
        </footer>
    </div>

    <!-- Sayfa İçeriği -->
    @*<div class="container mt-5">
        <h1 class="text-center">Home Sayfası</h1>
        <p class="text-center">Bu sayfa özel bir tasarıma sahiptir.</p>
    </div>*@

    <!-- Bootstrap JS -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
